### Gitignore file ###

# Ignore virtual environment and cache files
.venv/
__pycache__/
# src/shortest_path_indiction.egg-info/
*.egg-info/

# MacOS and IDE specific files
.DS_Store
.vscode/*

# Gurobi logs
gurobi.log

# Synthetic Data
*/SyntheticPortfolioData/*
*.csv
*.npz

# Folders for data storage
figures/*
real_world_spni_data/*

